* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

.gameOutput,
.gameInput {
  padding: 20px;
  width: 600px;
}

.gameOutput {
  height: 300px;
  border: 5px solid black;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.gameInput {
  height: 50px;
}
